body {
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo {
  margin-top: 25%;
  font-family: "Dosis", sans-serif;
  font-size: 100px;
  color: rgba(0, 0, 0, 0.74);
}
.project {
  margin-left: 10px;
  margin-top: 10px;
}
.icon-create {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}
