<div class="container">
  <input type="checkbox" id="example-button-container" />
  <div class="contenido">
    <a (click)="openDialogTicket()">New Ticket</a>
    <a (click)="openDialogUser()">New Usuario</a>
    <a (click)="openDialogProject()">New Project</a>
  </div>
  <div class="example-button-container">
    <button
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
      class="button"
    >
      <label for="example-button-container">
        <mat-icon class="icon-create">create</mat-icon>
      </label>
    </button>
  </div>
</div>
