<div cdkDropListGroup>
  <div class="row">
    <div class="col todo">
      <app-card-ticket state="to-do" title="TO DO"></app-card-ticket>
    </div>
    <div class="col progreso">
      <app-card-ticket
        state="in-progress"
        title="IN PROGRESS"
      ></app-card-ticket>
    </div>
    <div class="col done">
      <app-card-ticket state="done" title="DONE"></app-card-ticket>
    </div>
    <div class="col review">
      <app-card-ticket state="review" title="REVIEW"></app-card-ticket>
    </div>
  </div>
</div>
